POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=zstage
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SERVER_RELOAD=true
SERVER_LOG_LEVEL=info

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
